<nav>
  <a href="/">Home</a>
  <a href='/calorie-counter'>Calorie Counter</a>
  <a href="/food-add">Add Food</a>
  <a href="/food-delete">Delete Food</a>
  <a href="/display-list">Display Food</a>
  <a href="/food-search">Search Food</a>
  <a href="/food-update">Update Food</a>
  <a href="/about">About</a>
</nav>