<!doctype html>
<html>
  <head>
    <!-- Include header info -->
    <%- include('partials/header') %>
  </head>
  <body>
    <!-- Include navbar -->
    <%- include('partials/navbar') %>

    <h1> About </h1>
    <p>
      My name is Blair Currey and this is a CRUD app for tracking nutrional intake and counting calories.
    </p>
  </body>
</html>