<!doctype html>
<html>
  <head>
    <!-- Include header info -->
    <%- include('partials/header') %>
  </head>
  <body>
    <!-- Include navbar -->
    <%- include('partials/navbar') %>
    <!-- Include search results -->
    <%- include('partials/search-results') %>
    <!-- Delete food button -->
    <% if(foundFood.length > 0){ %>
      <form method="POST" action="/delete/?_method=DELETE" onsubmit="return confirm('Do you really want to submit the form?');">
        <input type="hidden" name="food" value="<%= foundFood[0].name %>"/>
        <button type="submit"> Delete </button>
      </form>
    <% } %>
    <a href="javascript:history.back()">Previous Page</a>
  </body>
 </html>