<!doctype html>
<html>
  <head>
    <!-- Include header info -->
    <%- include('partials/header') %>
  </head>
  <body>
    <!-- Include navbar -->
    <%- include('partials/navbar') %>
    <h1> Food Deleted </h1>
    <p><%= deletedFoodName %> was deleted</p>
  </body>
</html>