<!doctype html>
<html>
  <head>
    <!-- Include header info -->
    <%- include('partials/header') %>
  </head>
  <body>
    <!-- Include navbar -->
    <%- include('partials/navbar') %>
    <!-- Include search-results -->
    <%- include('partials/search-results') %>
    <a href="javascript:history.back()">Previous Page</a>
  </body>
 </html>