<!doctype html>
<html>
  <head>
    <!-- Include header info -->
    <%- include('partials/header') %>
  </head>
  <body>
    <!-- Include navbar -->
    <%- include('partials/navbar') %>

    <h1> Nutrition Log </h1>
    <p>
      Use this app to <strong>Create</strong>, <strong>Read</strong>, <strong>Update</strong>, and <strong>Delete</strong> 
      foods in a database. You can also select foods from the database to count up the nutritional information.
    </p>
  </body>
</html>